body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0F0F1D;
    color: #E0E0E0;
    align-items: center;
    

}

.bg-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
    filter: blur(6px) brightness(0.7);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
}

.logo {
    font-size: 1.9rem;
    color: #00FFE0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: #0F0F1D;
    background-color: #00FFE0;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 0 10px #00FFE0;
}

.nav-links a:hover {
    color: #000;
    background-color:#FF6EC7 ;
    box-shadow: 0 0 15px #FF6EC7;
}

.register-container {
    background: #ffffff;
    padding: 3rem 2rem;
    border-radius: 13px;
    box-shadow: 0 0 25px rgba(0, 255, 224, 0.4);
    width: 335px;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    height: 400px;
}

.names{
    display: flex;
    gap: 10px;
}
.ul {
    border:none;
    border-bottom: 2px solid #333;
    background: transparent;
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    outline:none;
    transition: 0.3s;
    margin-top:5px;
    margin-bottom: 13px;
}

.ul:focus {
    border-color: #00FFE0;
}

.register-container h2 {

    margin-top: 2;
    margin-bottom: 2rem;
    color : #000;
    font-size: 1.8rem;
}

.register-container h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}



button {
    width:300px;
    padding: 0.65rem;
    background-color: #ff6ec7;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 9px;
    box-shadow: 0 0 12px #ff6ec7;
    cursor: pointer;
    transition: 0.3 ease;
    
}

button a {
    text-decoration: none;
    color: #000;
}

button:hover {
    background-color: #00ffe0;
    color: #000;
    box-shadow: 0 0 15px #00ffe0;
}

.login-link {
    margin-top: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    border-style: solid;
}

.login-link a {
    color: #ff6ec7;
    text-decoration: none;
}

.login-link a:hover {
    color: #00ffe0;
    text-decoration: none;
}


